<h3>Dokus <%=(dokus.page*dokus.limit+1) %> - <%=dokus.dokus.length %> von <%=dokus.count %></h3>

<table class="table table-striped table-hover">
    <thead>
        <tr>
            <th scope="col">Nr<span class="arrow"></span></th>
            <th scope="col">Doku<span class="arrow"></span></th>
            <th scope="col">Ordner<span class="arrow"></span></th>
            <th scope="col">Datum<span class="arrow"></span></th>
        </tr>
    </thead>
    <tbody>
        <% dokus.dokus.forEach(function(doku, index) {%>
        <tr>
            <td scope="row"><%=index+1 %></td>
            <th>
                <%=doku.title %>
            </th>
            <td>
                <%=doku.path %>
            </td>
            <td>
                <%=doku.date %>
            </td>
            <td>
                <%=doku.ageRating %>
            </td>
        </tr>
        <% });%>
    </tbody>
</table>