<h3>Dokus <%=(page*limit+1) %> - <%=page*limit+dokus.length %> von <%=count %></h3>

<table class="table table-striped table-hover">
    <thead>
        <tr>
            <th scope="col">Nr<span class="arrow"></span></th>
            <th scope="col">Doku<span class="arrow"></span></th>
            <th scope="col">Ordner<span class="arrow"></span></th>
            <th scope="col">Datum<span class="arrow"></span></th>
        </tr>
    </thead>
    <tbody>
        <% dokus.forEach(function(doku, index) {%>
        <tr>
            <td scope="row"><%=index+page*limit+1%></td>
            <th>
                <%=doku.title %>
            </th>
            <td>
                <%=doku.path %>
            </td>
            <td>
                <%=doku.date %>
            </td>
            <td>
                <%=doku.ageRating %>
            </td>
        </tr>
        <% });%>
    </tbody>
</table>
<div><% if (page>0) { %>
    <a onclick='goToPage("/dokus/page<%=page %>")'>zurück</a>
    <% } %>
    <select class="browser-default custom-select" onchange='goToPage("/dokus/page"+this.value)'>
        <% for( let index = 0; index < count/limit; index++ ) { %>
        <option value="<%=index+1 %>" <% if (index==page) { %> selected <% } %>>Seite <%=index+1 %> </option>
        <% } %>
    </select>
    <a onclick='goToPage("/dokus/page<%=page+2 %>")'>vor</a>
</div>